@model IEnumerable<WebApplication2.Models.StudentTerm>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("StudentId", "Index", new { sortOrder = ViewBag.NumberSortParm })
            </th>
            <th>
                @Html.ActionLink("Term", "Index", new { sortOrder = ViewBag.TermSort })
            </th>
            <th>
                @Html.ActionLink("Term Abbr", "Index", new { sortOrder = ViewBag.AbbrSortParm })
            </th>
            <th>
                @Html.ActionLink("Term Name", "Index", new { sortOrder = ViewBag.NameSortParm })
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Term)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TermAbbr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TermName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.StudentId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StudentTermId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.StudentTermId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.StudentTermId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
