@model IEnumerable<WebApplication2.Models.Student>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@using (Html.BeginForm())
{
    <p>
        Find by name: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Family", "Index", new { sortOrder = ViewBag.NameSortParm })

            </th>
            <th>
                @Html.ActionLink("Given", "Index", new { sortOrder = ViewBag.AbbrSortParm })

            </th>
            <th>
                @Html.ActionLink("N919", "Index", new { sortOrder = ViewBag.NumberSortParm })

            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Family)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Given)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.N919)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.StudentId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.StudentId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.StudentId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
