@model IEnumerable<WebApplication2.Models.DegreePlan>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("StudentId", "Index", new { sortOrder = ViewBag.NumberSortParm })
            </th>
            <th>
                @Html.ActionLink("Abbr", "Index", new { sortOrder = ViewBag.AbbrSortParm })
            </th>
            <th>
                @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm })
            </th>
            <th>
                @Html.ActionLink("Selected", "Index", new { sortOrder = ViewBag.TermSort })
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DegreePlanAbbr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DegreePlanName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DegreePlanSelected)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.StudentId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DegreePlanId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DegreePlanId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DegreePlanId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
